modules = ["python-3.11", "nodejs-20"]

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "cd webapp && python -m uvicorn app.main:app --host 0.0.0.0 --port $PORT"]
deploymentTarget = "cloudrun"
ignorePorts = false

[languages]

[languages.python]
pattern = "**/*.py"
[languages.python.languageServer]
start = "pylsp"

[languages.javascript]
pattern = "**/{*.js,*.jsx,*.ts,*.tsx,*.json}"
[languages.javascript.languageServer]
start = "typescript-language-server --stdio"